@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Repair Service</h1>
    <p class="lead">Repair anything or Provide repair service</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Looking For Repair Service</h2>
        <p>
            Some quotes about looking for repair service
        </p>
        <p><a class="btn btn-default" href="/ServiceProviders/Search">Click me to look for repair service</a></p>
    </div>
    <div class="col-md-6">
        <h2>Willing to provide repair Service</h2>
        <p>Some quotes about providing repair service</p>
        <p><a class="btn btn-default" href="/ServiceProviders/Create">Click me to provide repair service</a></p>
    </div>
   
</div>